.header
  background: $cs-base-background-color
  padding-top: 32px
  box-shadow: 0 2px 2px 1px $cs-base-background-color

.header-box
  height: 132px
  z-index: 10

.logo-container
  height: 100%
  width: 20%

.va--logo
  vertical-align: 25px

.nav--header
  height: 100px
  li
    position: relative
    height: 100%
    width: 33%
    padding-left: 70px
    padding-right: 70px
    border-right: thin solid $cs-highlight-border-dark-color
    border-left: thin solid $cs-highlight-border-light-color
  li:first-child
    border-left: 0
  li:last-child
    border-right: 0

.login
  top: 2px
  right: 60px