.form-fields
  list-style: none
  margin: 0
  padding: 0
  margin-top: $inuit-base-spacing-unit
  label
    margin-right: 30px
    text-align: right
    width: 170px
    display: inline-block
  li
    margin-bottom: $inuit-base-spacing-unit
  li:last-child
    margin-bottom: 0
  input, textarea
    vertical-align: top
  .css-label
    margin-left: 200px
    margin-right: 0
    text-align: center
    width: 100px

.error-block
  background-color: $cs-negative-background-color
  color: $cs-light-text-color
  margin-left: 200px
  margin-right: 0
  padding: 7px
  width: 200px

.error-block--base
  margin-left: 0
  width: 100%