<!DOCTYPE html>
<html lang='en'>
  <head>
    <%= stylesheet_link_tag :application, :media => :all %>
    <script type="text/javascript" src="https://js.balancedpayments.com/1.1/balanced.js"></script>
    <%= javascript_include_tag :application %>
    <title>CivicSourcing</title>
  </head>
  <body>
  </body>
</html>