p Dear #{ @user.username },

p Congratulations! Your CivicSourcing fund #{ @fund.title } has succeeded! The fund will be deposited directly into your bank account within the next 3 to 5 business days. Please visit the fund's page for a list of donors and their selected rewards, if any.

p Cheers,
br
| The CivicSourcing Team