p Dear #{ @user.username },

p Awesome! The CivicSourcing fund #{ @fund.title } has succeeded! We have charged your card and the donation should appear on your statement within the next 3 to 5 business days. If you selected any perks or rewards, they should be on their way as soon as their ready.

p Thanks for supporting your community,
br
| The CivicSourcing Team