p Dear #{ @user.username },

p Unfortunately, your donation to the CivicSourcng fund #{ @fund.title } has been declined. If you selected any rewards from the campaign, they will not be delivered. There will be no further attempts to charge this account for the campaign.

p Sincerely,
br
| The CivicSourcing Team