p Dear #{ @user.username },

p Unfortunately, the CivicSourcing fund #{ @fund.title } did not meet its campaign goal. This means that you will not be charged your donation, but neither will you receive any perks or rewards you had selected.

p Best of luck next time,
br
| The CivicSourcing Team