p Dear #{ @user.username },

p Unfortunately, your CivicSourcing fund #{ @fund.title } did not meet its campaign goal. This means that you will not receive donations from any of your funders, but at the same you time, you will not have to fulfill any rewards.

p Best of luck next time,
br
| The CivicSourcing Team