p Thanks for joining,

p You're just about ready to join the CivicSourcing community. To finish your registration, simply confirm your email address by clicking the link below:

p.center
  = link_to 'Confirm My Email', confirmation_url(@resource, :confirmation_token => @token)
